.App {
  width: 40vw;
  height: 100vh;
  background-color: #9bbbd4;
}
.message_list {
  height: 90%;
  width: 100%;

  margin: 0;
  padding: 20px;

  overflow-y: auto;

  display: flex;
  flex-direction: column;
  gap: 16px;
}
