body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}

* {
  font-family: 'Pretendard Variable', Pretendard, sans-serif;
  box-sizing: border-box;
}
